<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AbbyBot API</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="bg-gradient-to-b from-[#c1683a] via-[#b2613d] to-[#8e4f3b] text-white h-screen flex items-center justify-center">
        <div class="text-center">
            <h1 class="text-5xl font-extrabold text-white">AbbyBot API</h1>
            <p class="text-xl mt-4">Welcome to the AbbyBot API. Here you will find all the necessary information to integrate and use our API efficiently.</p>
            <div class="mt-8 space-x-4">
                <a href="https://abbybotproject.com" target="_blank" class="px-6 py-3 bg-blue-600 text-white rounded-lg shadow-lg hover:bg-blue-700">AbbyBotProject website</a>
                <a href="/docs" class="px-6 py-3 bg-gray-600 text-white rounded-lg shadow-lg hover:bg-gray-700">API Docs</a>
            </div>
        </div>
    </div>

    <footer class="absolute bottom-3 w-full text-center text-white py-4">
        <p class="text-sm">
            <a href="https://abbybotproject.com" class="text-yellow-400 hover:underline font-semibold">AbbyBotProject</a> 
            made by 
            <a href="https://astronautmarkus.dev" class="text-red-500 hover:underline font-semibold">astronautmarkus.dev</a>
            and
            <a href="https://reyesandfriends.cl" class="text-cyan-300 hover:underline font-semibold">reyesandfriends.cl</a>
        </p>
        <p class="text-xs mt-2"></p>
    </footer>
</body>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const yearElement = document.querySelector("footer p.text-xs");
        const currentYear = new Date().getFullYear();
        if (yearElement) {
            yearElement.textContent = `© ${currentYear} AbbyBot. All rights reserved.`;
        }
    });
</script>

</html>